.container {
  width: 440px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.small-container {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
}

input {
  width: 100px;
  padding: 2px;
}

.price-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.price-table td {
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

.bold {
  font-weight: bold;
}

.red {
  color: red;
}

.blue {
  color: blue;
}
